<h1>Your Shopping Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty.</p>
  <%= link_to 'Browse Products', products_path, class: 'product-btn' %>
<% else %>
  <!--  Update Cart -->
  <form action="/cart/update" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td>
              <input type="number" name="quantities[<%= product.id %>]"
                     value="<%= @cart[product.id.to_s] %>" min="1"
                     class="form-control" />
            </td>
            <td>$<%= '%.2f' % product.price %></td>
            <td>$<%= '%.2f' % (product.price * @cart[product.id.to_s]) %></td>
            <td>
              <a href="/cart/remove/<%= product.id %>"
                 class="product-btn">Remove</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <button type="submit" class="product-btn">
  Update Cart
</button>



  </form>

  <%= link_to "Proceed to Checkout", new_order_path, class: "product-btn" %>

<% unless user_signed_in? %>
  <p class="text-muted mt-2">
    You can check out as a guest or <%= link_to "log in", new_user_session_path %> to track your orders.
  </p>
<% end %>


<% end %>

