
<div class="d-flex justify-content-center mt-4">
  <nav aria-label="Pagination">
    <ul class="pagination flex-wrap justify-content-center">

      <% unless @products.first_page? %>
        <li class="page-item d-none d-sm-inline">
          <%= link_to 'First', url_for(page: 1), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary' %>
        </li>
        <li class="page-item d-inline d-sm-none">
          <%= link_to '«', url_for(page: 1), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary' %>
        </li>
      <% end %>

      <% if @products.prev_page %>
        <li class="page-item d-none d-sm-inline">
          <%= link_to 'Previous', url_for(page: @products.prev_page), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary ' %>
        </li>
        <li class="page-item d-inline d-sm-none">
          <%= link_to '‹', url_for(page: @products.prev_page), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary border' %>
        </li>
      <% end %>

      <% paginator.each_page do |page| %>
  <% if page.left_outer? || page.right_outer? || page.inside_window? %>
    <li class="page-item <%= 'active' if page.current? %>">
      <%= link_to page, url_for(page: page),
        class: page.current? ?
          "btn btn-success rounded-pill px-4 py-2 fs-5" :
          "page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary" %>
    </li>
  <% elsif page.was_truncated? %>
    <li class="page-item disabled">
      <span class="page-link rounded-pill px-4 py-2 fs-5 bg-light text-muted">…</span>
    </li>
  <% end %>
<% end %>


      <% if @products.next_page %>
        <li class="page-item d-none d-sm-inline">
          <%= link_to 'Next', url_for(page: @products.next_page), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary border border-secondary' %>
        </li>
        <li class="page-item d-inline d-sm-none">
          <%= link_to '›', url_for(page: @products.next_page), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary border border-secondary' %>
        </li>
      <% end %>

      <% unless @products.last_page? %>
        <li class="page-item d-none d-sm-inline">
          <%= link_to 'Last', url_for(page: @products.total_pages), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary ' %>
        </li>
        <li class="page-item d-inline d-sm-none">
          <%= link_to '»', url_for(page: @products.total_pages), class: 'page-link rounded-pill px-4 py-2 fs-5 bg-light text-secondary ' %>
        </li>
      <% end %>

    </ul>
  </nav>
</div>
