<div class="product-card card text-center p-3">
  <h5 class="product-title"><%= product.name %></h5>

  <% if product.image.attached? %>
    <%= image_tag product.image.variant(resize_to_limit: [250, 250]), alt: product.name, class: "img-fluid mx-auto" %>
  <% end %>

  <p class="product-price mt-2"><%= number_to_currency(product.price) %></p>

  <%= link_to "See Details", product_path(product), class: "product-btn" %>
  <%= button_to 'Add to Cart', add_to_cart_path(product.id), method: :post, class: "product-btn" %>

</div>
