<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class="product">
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p>Price: $<%= product.price %></p>

  <% if product.image.attached? %>
  <%= image_tag url_for(product.image.variant(resize_to_limit: [200, 200])) %>
<% end %>


    <p>
      <%= link_to "Show this product", product_path(product) %>
    </p>
  </div>
<% end %>

<%= link_to "New product", new_product_path %>
