<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for(:title) || "Sage Style" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>



  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= javascript_importmap_tags %>
  <script src="https://js.stripe.com/v3/"></script>

</head>



  <body class="bg-white text-dark">
    <!-- Optional: Basic nav bar -->


    <nav class="navbar navbar-expand-lg" style="background-color: #9caf88;">
  <div class="container">
    <%= link_to "Sage&Style", root_path, class: "navbar-brand text-white" %>

    <div class="navbar-nav">
      <%= link_to "Home", root_path, class: "nav-link text-white" %>
      <%= link_to "About", about_path, class: "nav-link text-white" %>
      <%= link_to "Contact", contact_path, class: "nav-link text-white" %>
      <% if user_signed_in? %>
  <span class="me-2">Hello, <%= current_user.email %>!</span>
  <%= link_to "My Orders", orders_path, class: "nav-link text-white" if user_signed_in? %>

  <%= button_to 'Logout', destroy_user_session_path, method: :delete, form_class: "d-inline", class: "nav-link text-white" %>


<% else %>
  <%= link_to 'Login', new_user_session_path, class: "nav-link text-white" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link text-white" %>
<% end %>

    </div>
  </div>
</nav>


    <div class="container mt-4">
      <!-- Flash Messages -->
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
